@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary: #ae4b2b;
  --secondary: #abbfb5;
  --third: #1b3661;
  --text: #333335;
  --gray: #989898;
  --gray2: #eaeaea;
  --family: 'Roboto', sans-serif;
  --shadow: 0 3px 6px rgba(58, 58, 58, 0.16), 0 3px 6px rgba(58, 58, 58, 0.23);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid #f44336 !important; */
}
html,
body {
  font-size: 16px;
  min-height: 100vh;
  color: var(--text);
  font-family: var(--family);
  font-weight: 400;
}
body {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
select,
textarea,
button {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--family);
}

img {
  max-width: 100%;
}
p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
.w-100 {
  width: 100%;
}
table {
  width: 100%;
}

/* Utils */
.p-0 {
  padding: 0;
}
/* Buttons */
.btn-primary {
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: white;
  transition: 0.5s all;
  background: var(--primary);
  padding: 15px 50px;
  border-radius: 100px;
}

.btn-link {
  color: var(--text);
  text-decoration: underline;
  font-weight: 400;
  padding: 15px 50px;
  line-height: 1;
  height: auto;
  text-align: left;
}

/* Input */
input,
label {
  padding: 15px 30px;
  border-radius: 100px;
  outline: none;
  border: none;
  border: 1px solid var(--gray);
  display: block;
}

/* Errors */

.error {
  padding-left: 25px;
  color: #f44336;
  text-align: left;
}
